<div class="grow">
  <h1 class="font-bold text-4xl">Messages#index</h1>
  <p>Find me in app/views/messages/index.html.erb</p>

  <div id="new_message">
    <%= form_with model: @message do |form| %>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>

  <div id="messages">
    <%= render @messages %>
  </div>
</div>

<%#= Subscribe to the "messages_channel" channel %>
<%= turbo_stream_from "messages_channel"  %>
